/* Custom container contain all breakpoint values,
it can be change passing any values from below parameter */
@mixin customContainer(
  $xl3:1368,
  $xl2:1200,
  $xl:1140,
  $lg:960,
  $md:720,
  $sm:540) {

  @media (min-width: 576px) {
    max-width: $sm+px;
  }

  @media (min-width: 768px) {
    max-width: $md+px;
  }

  @media (min-width: 992px) {
    max-width: $lg+px;
  }

  @media (min-width: 1200px) {
    max-width: $xl+px;
  }

  @media (min-width: 1366px) {
    max-width: $xl2+px;
  }

  @media (min-width: 1920px) {
    max-width: $xl3+px;;
  }

  @include mxAuto();
}

@mixin mxAuto() {
  margin-left: auto;
  margin-right: auto;
}
