@import "../../../assets/styles/variable";
$havanatur-color: #0d47a1;
:host {
    .version {
        margin: 0 auto;
        text-align: center;
        font-size: 0.86em;
    }
}

.login-card {
    padding: 0;
    min-width: 450px;
    max-width: 600px;
    border-radius: 20px !important;
    min-height: 520px !important;
    @media(max-width: 800px) {
        min-width: 350px !important;
        max-width: 400px !important;
    }
}

.login-header {
    #toolbarHeader {
        height: 190px;
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
        #progressBar {
            border-top-left-radius: 16px !important;
            border-top-right-radius: 16px !important;
        }
        #ImgLayout {
            height: 130px;
            width: 130px;
            //@media only screen and (max-width:800px) {
            //  height: 140px !important;
            //  width: 140px !important;
            //
            //}
            //border-radius: 50%;
            //border: solid 2.2px #bbb;
            // background-image: url('');
            background-position: center;
            //background-size: cover;
            background-size: auto 100%;
            //background-size: 100px 110px;
            background-repeat: no-repeat;
            //background-color: white;
        }
    }
}

.mat-card-header-text {
    margin: 0px !important;
}

.login-toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-form {
    #lineUnder {
        background-color: $havanatur-color;
        width: 30px;
        height: 2px;
        border-radius: 4px;
    }
}

.example-full-width {
    width: 100%;
}