<div fxLayout="column" fxLayoutAlign="center center" fxLayout.lt-md="row wrap" fxFlex.lt-md="75" class="card-product" id="ProductCardId">
    <div fxLayoutAlign="center center" class="image-layout">
        <img lazyimg="" src="../../../../../assets/img/noimage.png" onerror="this.onerror=null;this.src='../../../../assets/images/noImage.jpg';" class="image ">
    </div>
    <div fxLayout="column" ngClass.gt-sm="p-3" ngClass.lt-md="p-2 w-100" class="product-info-wrapper p-3">
        <span class="category"> {{product.market}} </span>
        <div class="title"><a class="link-nav-a">{{product.name | uppercase}}</a></div>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="price mt-2">
            <button class="mat-focus-indicator mat-tooltip-trigger btnAddCart mat-mini-fab mat-button-base mat-accent" style="z-index: 10;" (click)="addToCart()">
                <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="font">shopping_cart</mat-icon>
                </span>
            </button>
            <div>
                <div class="">
                    <p class="mat-body-2 m-0 price-offer">{{product.price | currency:'EUR'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>